header {
    text-align: center;
}

#pop {
    width: 200px;
	height: 100px;
    text-align: center;    
	background: #333;
	margin: 40px auto;
	padding: 10px 20px;
	position: absolute;
    left: 40%;
    top: 30%;
	color: white;
    display: none;
}

#table {
    margin: 0 20%;
    display: flex;
    flex-wrap: wrap;    
}

.cards {
    height: 150px;
    width: 150px;
    margin: 30px;
}

.cards:hover {
    border: 1px solid black;
}

.green {
    background-color: green;   
}

.pink {
    background-color: pink;
}

.cyan {
    background-color: cyan;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.hidden {
    background-color: gray;
}
